<h1>Administer site</h1>

<h2 class="long">General</h2>
<ul class="adminLinks">
  <li><%= link_to('Manage awards', awards_path)%></li>
  <li><%= link_to('Manage occupations', occupations_path)%></li>
  <li><%= link_to('Manage specialties', specialties_path)%></li>
  <li><%= link_to('Manage roles', publishingroles_path)%></li>
</ul>
