<div id="header">
  <ul>
    <li class="people"><a href="<%= url_for(:controller => 'people') %>"><span>People</span></a></li>
    <li class="publications"><a href="<%= url_for(:controller => 'publications') %>"><span>Publishers</span></a></li>
	<li class="publishers"><a href="<%= url_for(:controller => 'publishers') %>"><span>Publishers</span></a></li>
    <li class="admin"><a href="<%= url_for(:controller => 'admin') %>"><span>Admin</span></a></li>
  </ul>
</div>